/* 商品一覧のスタイル */
.index_title{
    font-weight: 400;
    color: #ff0000;
}
table {
    border: 1px solid #ababab; padding: 30px;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    text-align: center;
}

th{
    background-color: #ababab;
}

td {

    background-color: #ffffff;
    text-align: center;
}




.container {
    margin: 30px;
}

